@import "../../Text.scss";

.about {
    background-color: var(--bgSecondary);
    margin: auto;
    max-width: 960px;
    padding: 2rem;
    margin: 4em auto;
    box-shadow: 0px 0px 8px 0px rgba(111, 126, 137, 0.2);

    &-title {
        @include setFontSize(1);
        text-align: center;
        font-weight: bold;
        color: var(--textSecondary);
    }
    &-links {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 1em auto;

        .about-linkBtn {
            @include setFontSize(4);
            background-color: #f2f2f2;
            padding: 0.5em 1em;
            border: 1px solid #d1d1d1;
            border-radius: 0.5em;
            text-align: center;
            &:nth-child(1) {
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .about {
        margin: 0 auto;
    }
}
