{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "no-undef": "off",
        "eqeqeq": "off",
        "no-unused-vars": "off",
        "react/prop-types": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off"
    }
}