:root {
    --primary: hsl(10, 33%, 30%);
    --primarySecond: hsl(10, 33%, 50%);

    --bgPrimary: rgba(245, 245, 245);
    --darkWhite: rgba(235, 235, 235);
    --lightGray: rgba(215, 215, 215);
    --coldGray: rgba(190, 190, 190);
    --gray: rgba(160, 160, 160);
    --grayTransparent: rgba(160, 160, 160, 0.9);

    --textPrimary: rgb(40, 40, 40);
}

html,
body {
    background-color: var(--bgPrimary);
    margin: 0;
    overscroll-behavior: none;
    * {
        color: var(--textPrimary);
    }
}

body {
    overflow-x: hidden;
    overflow-y: overlay;
    ::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--grayTransparent);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--gray);
}

*,
:after,
:before {
    box-sizing: border-box;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: var(--primary);
    transition: all 0.2s ease-in-out;
    &:hover {
        color: var(--primarySecond);
    }
}
